[class*="__container"]{
   margin: 0 auto;
   max-width: 1230px;
}

.wrapper{
   position: relative;
   overflow: hidden;
   min-height: 100%;
   background-color: #333;
   color: white;
}

.header{
   padding: 15px 20px;
   background-color: gainsboro;
   display: flex;
   flex-direction: column;
   border: solid red 5px;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   font-weight: 700;
   color: black;
}

.header{
   margin: 50px;
   padding: 20px;
   display: flex;
   gap: 20px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   background-color: rgba(240, 248, 255, 0.292);
   border: solid red;
}

h1{
   font-size: 64px;
   text-align: center;
}

h6{
   font-size: 32px;
}

.yellow{
   color: orange;
}
.red{
   color: red;
}
.green{
   color: green;
}

.black{
   color: black
}

.hw--title{
   font-size: 36px;
   font-weight: 900;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;
}

.hw--list{
   display: flex;
   flex-direction: column;
   gap: 30px;
   font-size: 24px;
   align-items: center;
   text-shadow: black 1px 1px 1px;
   margin-bottom: 50px;
}

.hw--list ul{
   background-color: rgb(197, 197, 197);
   padding: 15px;
   border: solid black 8px;
}
